

 section{
    display: flex;
    justify-content: center;
    

}
.one{
  background-color:hsl(31, 77%, 52%);
  color: hsla(0, 0%, 100%, 0.75);
  height: 70vh;
  width: 15%;
  font-size: larger;
  
  
}
.two{
 background-color:hsl(184, 100%, 22%);
 width: 15%;
 color:  hsla(0, 0%, 100%, 0.75);
 height: 70vh;
 font-size: larger;
}
.three{
 background-color:hsl(179, 100%, 13%);
 color:  hsla(0, 0%, 100%, 0.75);
 width: 15%;
 height: 70vh;
 font-size: larger;
}
.first{
  background-color: white;
  border-radius: 30px;
  height: 10%;
  width:11vw ; 
  color:hsl(31, 77%, 52%) ;
  border: none;
  margin-top:40% ;
}
.second{
  background-color: white;
  color:hsl(184, 100%, 22%); ;
  border-radius: 30px;
  height: 10%;
  width:11vw ; 
  border: none;
  margin-top: 30%;
}
.third{
  background-color: white;
  border-radius: 30px;
  color:hsl(179, 100%, 13%) ;
  height: 10%;
  width:11vw ;
  border:none;
  margin-top: 30%; 
}
div{
  padding: 5% 5% 5% 5%;
}